.App {
  text-align: center;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  /* background: #222; */
  background-image: linear-gradient(
    to right top,
    #370517,
    #630022,
    #920026,
    #c00023,
    #eb1212
  );
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #9e0000;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f0000;
}
::-webkit-scrollbar-track {
  background: #34000c;
}
